.box-out {
  display: flex;
  gap: 26px;
  top: 140px;
  overflow-y: scroll;
  transition: 1s ease;
  /* scrollbar-width: none; */
  /* -ms-overflow-style: none; */
}

.box-out::-webkit-scrollbar {
  display: none; 
}

.book {
  width: 180px;
  height: 255px;
  background-color: rgb(62, 71, 152);
  transition: all 0.3s ease-in-out;
  transform-origin: left center 0px;
  transform-style: preserve-3d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

.box-out .book::after {
  content: " ";
  display: block;
  opacity: 0;
  width: 170px;
  height: 240px;
  position: relative;
  left: 8px;
  transition: all 0.3s ease;
}

.box-out .book::before {
  content: " ";
  z-index: 999;
  display: block;
  width: 20px;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: -12px;
  right: 8px;
  transition: all 0.25s;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD8AAABhCAYAAABh23lYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHCSURBVHgB7dxPTsJAHMXxN7Xu3UhigobxJHACvQFwAr2BcgO8AZxE7uGiDZiQyEIW7oSOUyKbKgLS8u+9b9JNF818fum0XdWUhy9VEDZBGIdBGD6DsFM3bQYgTnjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNZ2hR/7o+UcmnCIsaNCbLcU/RR8oB1bO/4+17l8ixoGeIBBBVvMXI0ih+L7Df2j8iiqnvgh+AVVUXDOTZvF4tNb2qC7DJ1tNgSDO78tblFQxeE92l+0NSjZDjaoMowqyYl7hDF15JzL+x+YHtxLgFq/ZO2m8LT4wsb90nUjmMD61XaRc7ng5+jBua29ntsecq6oIWyELxqdLe8h/GvPp+h0T28D/FezZ8Ip7pHgZt3X5NoPvH1BZ5sNIUTDL7C+6hBWxxt0gk+00tsOe96qH0zL8GO4pBtMg/YhoLMtG8Ii/EpfY4fSoiFk8UeFzpYdwhz/jiNGZ0uHEBjUEzftohJFZyAsdX8BM0/amLC3spYAAAAASUVORK5CYII=");
  background-size: 16px;
  background-repeat: no-repeat;
}

/*------ background-pic ------*/

.books-1 {
  background: url("https://cdn.dribbble.com/users/1823336/screenshots/3668556/media/3f9781e35e7d0fbc1727c9e20de8b719.png?resize=450x338&vertical=center");
  background-size: cover;
  background-position: center;
}
.books-2 {
  background: url("https://cdn.dribbble.com/userupload/15008269/file/original-88b54acd34eee845760009ad6748e97e.jpg?resize=1024x768");
  background-size: cover;
  background-position: center;
}
.books-3 {
  background: url("https://cdn.dribbble.com/userupload/14202195/file/original-ecaab797795fc693dd5dac2a1673670c.jpg?resize=1024x683");
  background-size: cover;
  background-position: center;
}
.books-4 {
  background: url("https://images.shiksha.com/mediadata/ugcDocuments/images/wordpressImages/2023_08_What-is-social-media.jpg");
  background-size: cover;
  background-position: center;
}

/* ----- book-blur ----- */

/* ----- hover ----- */

.book:hover {
  cursor: pointer;
  transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
  -webkit-backface-visibility: hidden;
  box-shadow: 1px 3px 2px #000000, 20px 8px 0 #9596a0;
  /* transform: scale(1.02); */
}

.book:hover::after {
  content: " ";
  display: block;
  opacity: 1;
  width: 172px;
  height: 255px;
  position: relative;
  left: 8px;
  background: linear-gradient(
    -180deg,
    rgba(91, 79, 79, 0.1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}

.book:hover::before {
  transform: translateY(9px);
  opacity: 1;
}
